.Form-container{
    background-size: cover;

    text-align: center;
    padding: 30px;
    border-radius: 10px;

    background-color: #333a5a;
    margin: 20px;

}
.Form-container1{
    background-size: cover;
   min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

}
.example-checkbox{
    color: blue;

}
h1{
    color: #fff;
    margin-bottom: 60px;

}

