button {
    margin-right: 8px;
  }
  .modal-card{
    background-color: #ffffff !important;
    color: #000 !important;
    padding: 50px;
    
    
  }
  .button-card{
    margin-top: 20px !important;
  }

  button{
    width: 80px;
    height: 35px;
    
    color: #ffffff;
    border: 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
  }
  .cancel{
    background-color: rgb(233, 19, 19);
  }
  .success{
    background-color: rgb(6, 134, 45);
  }